#site-root {
  background-color: red;
  position: relative;
  top: 0;
  padding-top: 200px;
  background-color: #f4f4f4;
  -webkit-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
  @media only screen and (min-width: 768px) {
    padding-top: 140px;
  }
  @media only screen and (min-width: 1300px) {
    padding-top: 200px;
  }
}

#related-products {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

// .related-products-root {
//   margin-top: 80px !important;
//   margin-bottom: 80px !important;
// }

// .related-products-container {
//   cursor: pointer;
//   background-color: transparent !important;
//   height: 300px !important;
//   display: flex !important;
//   justify-content: center !important;
//   margin: 20px 0 0 0;
// }



